body {
    font-family: 'Cabin', sans-serif;
    background-color: #D8EBFE;
    color: #fdfff5;
}
/* Nav Bar */
.navbar-main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    
}
.nav-image {
    display: flex;
    width: 150px;
    height: 100%;
    padding: 5px;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.nav-list {
    display: flex;
    list-style-type: none;
    height: 57px;
    align-items: center;
}
ul {
    margin: 0;
    padding: 0;
}
/* Body Cards */
.card-container {
    display: block;
    width: 100%;
    height: auto;
}
.card-deck {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 1em auto;
    justify-content: center;
    padding-bottom: 3em;
}
.card {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    border: none;
    margin: 1em;
}
.card-header {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px;
    color: #000000;
    background-color: #ffffff;
}
.card-body {
    display: block;
    background-color: #022347;
    color: #ffffff;
}
.card-text {
    display: flex;
    width: 100%;
    font-size: 0.93em;
    text-align: left;
}
.card-title {
    display: block;
    width: 100%;
    text-align: center;
}
.card-img {
    display: block;
    text-align: center;
    padding: 3px;
    width: 100%;
    height: 170px;
    border: #000000 solid;
}
/* Repairs */
.r-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 3px;
}
.r-h3 {
    display: block;
    width: 100%;
    font-size: 35px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #5B79B1;
}
    /* Repairs Leftbox */
.r-leftbox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px;
}
.r-leftbox h3 {
    font-size: 35px;
    line-height: 2;
    border-bottom: #111b70 solid;
    text-align: center;
    width: 50%;
}
.r-boxholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}
.r-boxholder p {
    color: #fdfff5;
}
.r-textbox1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 5px;
    background-color: #111b70;
    margin: 5px;
    text-align: left;
    
}
.r-textbox2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 5px;
    background-color: #111b70;
    margin: 5px;
    text-align: left;
}
.r-textbox3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 5px;
    background-color: #111b70;
    margin: 5px;
    text-align: left;
}
#r-subtitles {
    display: block;
    width: 100%;
    justify-content: center;
    color: #ffffff;
    font-weight: bolder;
    font-size: 28px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.r-boxholder p {
    width: 100%;
    height: auto;
    padding: 20px;
}
    /* Repairs Rightbox */
.fq-textbox {
    display: block;
    width: 100%;
    text-align: center;
}