body {
    font-family: 'Cabin', sans-serif;
    background-color: #dee2e9;
    color: #f7f8f4;
}
/* Nav Bar */
.navbar-main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    
}
.nav-image {
    display: flex;
    width: 150px;
    height: 100%;
    padding: 5px;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.nav-list {
    display: flex;
    list-style-type: none;
    height: 57px;
    align-items: center;
}
ul {
    margin: 0;
    padding: 0;
}
/* Carousel */
.carousel-container {
   display: flex;
   width: 100%;
   height: auto;
   justify-content: center;
   padding-top: 1em;
   
}
.carousel {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
}
.img-fluid {
    width: 100%;
    height: auto;
}
/* Body Cards */
.card-container {
    display: flex;
    width: 100%;
    height: auto;
}
.card-deck {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 5em;
}
.card {
    display: flex;
    width: fit-content;
    height: auto;
    border: none;
}
.card-header {
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    background: none;
    margin: 2em;
    color: #d62626;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;    
}
.card-body {
    display: block;
    background-color: #1a2139;
    color: #ffffff;
}
.card-text {
    display: block;
}
.card-title {
    display: block;
    width: 100%;
    text-align: center;
    color: #6e7a94;
    font-weight: bolder;
    font-size: 28px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.card-img {
    display: block;
    width: 100%;
    height: 200px;
}
.card ul {
    list-style: none;
}
.card li {
    font-size: 16px;
    padding: 2px;
    text-align: center;
}
/* Repairs */
.r-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 3px;
}
.r-h3 {
    display: block;
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #d62626;
}
    /* Repairs Leftbox */
.r-leftbox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px;
}
.r-leftbox h3 {
    font-size: 35px;
    line-height: 2;
    border-bottom: #111b70 solid;
    text-align: center;
    width: 50%;
}
.r-boxholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}
.r-boxholder p {
    color: #fdfff5;
}
.r-textbox1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 5px;
    background-color: #1a2139;
    margin: 5px;
    text-align: left;
    font-size: 18px;
    
}
.r-textbox2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 5px;
    background-color: #1a2139;
    margin: 5px;
    text-align: left;
    font-size: 18px;
}
.r-textbox3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 5px;
    background-color: #1a2139;
    margin: 5px;
    text-align: left;
    font-size: 18px;
}
#r-subtitles {
    display: block;
    width: 100%;
    justify-content: center;
    color: #6e7a94;
    font-weight: bolder;
    font-size: 28px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.r-boxholder p {
    width: 100%;
    height: auto;
    padding: 20px;
}
    /* Free Estimates Box */
.fq-container {
    display: flex;
    flex-direction: column;
    margin: 4em;
    width: 100%;
    height: auto;
    text-align: center;
    background: #1a2139;
}
.fq-container h4 {
    display: block;
    width: 100%;
    padding: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #6e7a94;
    font-size: 30px;
}
.fq-container p {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 19px;
    padding: 2em;
}
/* Button CSS */
.example_e {
    border: none;
    background: #2e395f;
    color: #dee2e9 !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-family: 'Cabin', sans-serif;
    }
.example_e:hover {
    color: #1a2139 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: #748ebb;
    -webkit-box-shadow: 0px 5px 40px -10px #526fa1;
    -moz-box-shadow: 0px 5px 40px -10px #748ebb;
    transition: all 0.3s ease 0s;
    font-family: 'Cabin', sans-serif;
    }

/* Footer */
.main-footer {
    display: block;
    position: static;
    background-color: #dee2e9;
    bottom: 0;
    width: 100%;
    height: auto; 
  }
.footer-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1a2139;
    font-weight: bolder;
    font-size: 30px;
}
.footer-title:before,
.footer-title:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
} 
.footer-title:after {
    margin: 0 0 0 20px;
}
.footer-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: #1a2139;
}
.footer-body p {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 20px;
    justify-content: center;
}
.button-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.footer-button {
    background: none;
    height: auto;
    border: none;
}
.footer-button img {
    width: 33px;
    height: 33px;
}