body {
    font-family: 'Cabin', sans-serif;
    background-color: #dee2e9;
    color: #f7f8f4;
}
.card-container {
    display: flex;
    width: 100%;
    height: auto;
}
.card-deck {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 2em;
}
.card {
    display: flex;
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 1em;
}
.card-header {
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    background: none;
    margin: 2em;
    color: #d62626;
    font-weight: bolder;
    font-size: 45px;
}
.card-body {
    display: block;
    height: auto;
    background-color: #1a2139;
    color: #ffffff;
}
.card-text {
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.card-title {
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #6e7a94;
    font-family: 'Josefin Sans', sans-serif;
}
.card-img {
    display: block;
    width: 100%;
}
.card ul {
    list-style: none;
}
.card li {
    font-size: 16px;
    padding: 2px;
    text-align: center;
}