body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}
h1, h2 , h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
}
.navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    align-items: center;
    transition: all .5s;
}
.navbar a {
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    margin: 4px;
    letter-spacing: 1px;
    position:relative;
    z-index: 1;
}
.navbar a::before { 
    content: ""; 
    width: 0px; 
    height: 10px; 
    background: black; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    transition: .5s; 
} 
.navbar a:hover {
    color: #000000;
  }
.navbar a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #e0cb09;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
.navbar a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
.navbar img {
    width: 180px;
    height: 55px;
    margin: 2px;
}
/* MAIN PAGE CSS */

/* Header */
.header-container {
    display: relative;
    width: 100%;
    height: auto;
}
.header-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.header-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 400px rgba(0, 0, 0, 0.4) inset;
}
.header-container button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 95px;
    height: 50px;
}
/*Slideshow*/
.slideshow-container {
    display: flex;
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
}
.slideshow-container img {
    width: 100%;
    height: 275px;
    overflow: hidden;
}
.mySlides {
    display: none;
}
/* Button */
.button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
button {
    height: 65px;
    cursor: pointer;
    width: 350px;
    font-size: 20px;
    color: #ffffff;
    background-color: #090c2e;
}
/* Box Classes */
.main-box {
    display: flex;
    width: 100%;
    height: auto;
}
.body-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5px;
    line-height: 30px;
    flex-direction: column;
}
.body-box h3 {
    font-size: 25px;
    text-align: center;
}
.body-box img {
    width: 320px;
    height: auto;
    padding: 5px;
}
.body-box p {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
}
.text-box {
    display: block;
    font-size: 18px;
    text-align: left;
    width: 100%;
    height: auto;
}
.text-box ul {
    line-height: 65px;
}
.text-box h2 {
    text-align: center;
}
/* Media Queries */
@media screen and (max-width: 800px) {
    .main-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 600px) {
    .body-box img {
        width: 275px;
    }
}
@media screen and (max-width: 600px) {
    .slideshow-container img {
        width: 100%;
        height: 275px;
    }
}
@media screen and (max-width: 600px) {
    .header-box::before {
        box-shadow: 0 300px rgba(0, 0, 0, 0.4) inset;
    }
    .header-box img {
        height: 300px;
    }
}
/* Footer */
.footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.footer-icons {
    height: auto;
    width: 100%;
    text-align: center;
}
.footer-icons img {
    padding: 2px;
    width: 30px;
    height: 30px;
}

/* CONTACT US CSS */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(124, 115, 115);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #090c2e;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1d53aa;
  }
.contact-container {
    border-radius: 5px;
    background-color: #dddddd;
    padding: 20px;
  }
.main-box .contact-container {
    display: flex;
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 50px;

}
.map-container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #d1193e;
    justify-content: center;

}
.map-container iframe {
    width: 50%;
    height: 350px;
    padding: 30px;
}

.map-container .text-box {
    text-align: center;
    color: #f2f2f2;
    padding: 20px;
    letter-spacing: 3px;
    font-size: 19px;
}
.text-box h3 {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
}
.text-box h3:before, h3:after {
    content: '';
    border-top: 2px solid;
}

/* Contact Page Media Queries */
@media screen and (max-width: 600px) {
    .main-box .contact-container {
        height: fit-content;
        width: 100%;
    }
    .map-container {
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .map-container iframe {
        width: 250px;
        height: 250px;
    }
}